
html,body {
    background-color: #272B30;
    margin: 3%;
    color: #fcfafa;
}

.card_container{
    border-radius: 5px;
    background-color: #202020;
    margin: 16px;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 2px #1a1d26;
}   

/* width */
::-webkit-scrollbar {
    width: 10px !important;
    display: block !important;
  }


/* Track */
::-webkit-scrollbar-track {
    background: #232c37 !important;
    border-radius: 10px !important;
    display: block !important;
    }
    
/* Handle */
::-webkit-scrollbar-thumb {
background: #363535 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: white !important;
}

#dpd * {
    background-color: #191a1a !important;
    color: #f7f8f9 !important;
    font-size: 10px !important;
}

.Select-control{
    border: 3px solid #323844 !important;
}

.Select-menu-outer{
    overflow: hidden !important;
    border-color: #373838 !important;
}

.rc-slider-track{
    background-color: rgb(234, 13, 112) !important;
}

.rc-slider-handle{
    border-color: rgb(234, 13, 112) !important;
}




.columns {
  width: calc(100% / 3);
  text-align: left !important;
  padding-left: 25px !important;
}

